.choice-card {
  margin: 100px;
  width: 350px;
  height: 450px;
  border-radius: 25px;
  text-align: center;
}

.winner{
  border: 5px solid green;
}

.loser{
  border: 5px solid red;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

